# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Flask instance data
instance/
history.db



# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db